.baracchino {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .baracchino {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.5);
    }
}
img {
    
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-width: 0px;
    box-shadow: 0 0 15px #3939fa;
    
}
h1 {
    padding-top: 15px;
}
.main {
    background-color: black;
}